/*Large devicese*/
.common-wrap {
    max-width: 1500px !important;
        margin: auto;
}
@media (max-width: 1268px) {
    
}
@media (max-width: 1228px) {
	.intro-right .intro-tabs {
    width: 380px;
}
.works-section {
    padding: 200px 30px 100px; 
}
    
}
@media (max-width: 1024px) {
	banner-content h1 { 
    font-size: 32px; 
}
.banner-right h3 {
    font-size: 28px; 
}
   .banner-right h6 {
    font-size: 20px; 
}
.intro-right .intro-tabs {
    width: 363px;
}
.works-section {
    padding: 120px 30px 100px;
}
}
/*Tab*/
@media (max-width: 992px) {
   .banner-content h1 { 
    font-size: 30px; 
}
.banner-right h3 {
    font-size: 24px;
}
.banner-content { 
    bottom: 9%;
    right: 4%; 
    padding: 20px;
    width: 314px;
}
.intro-section {
    margin-top: 100px;
}
.intro-info h3 {
    font-size: 22px;
}
.intro-desc {
    padding: 0 10%; 
}
.intro-desc:before { 
    left: 79px; 
}
.intro-desc:after{
	right: 79px;
}
.intro-desc { 
    margin-bottom: 97px; 
}
.intro-right { 
    flex: 2;
}
.intro-right .intro-tabs {
    width: 430px;
}
.effect img {
    min-height: 155px;
    height: 158px;
}
.effect.effect-one .tab-text {
    padding: 10px;
}
.effect.effect-one .tab-text::before {
    top: 39px;
    right: 16px;
    bottom: 36px;
    left: 17px; 
}

.effect.effect-one .tab-text::after {
    top: 15px;
    right: 36px;
    bottom: 15px;
    left: 36px;
}
.effect.effect-one:hover h2 { 
    -webkit-transform: translate3d(32px, 29px, 0);
    transform: translate3d(32px, 29px, 0);
}
.effect.effect-one:hover p { 
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
}
/*Mobile*/
@media (max-width: 768px) {
	.intro-main {
    padding: 20px;
    display: block;
}
  .intro-left {
    width: 100%; 
}
.intro-right .intro-tabs {
    width: 100%;
}
.work-tabs-cover {
    display: block; 
}
.works-section {
    padding: 9px 30px 50px;
}
.effect img {
    min-height: 240px;
    height: 240px;
}

.autocad-section h1 {
    font-size: 30px;
}

.banner-head {
    width: 52%;
    font-size: 30px;
}

.effect.effect-one img {
    opacity: .7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.1, 1.1)
}

.effect.effect-one .tab-text:after,
.effect.effect-one .tab-text:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
 
.effect.effect-one p {
    opacity: 1;
    -webkit-transform: translate3d(0, 19px, 0);
    transform: translate3d(0, 45px, 0)
}
.effect.effect-one h2  {
    opacity: 1;
    -webkit-transform: translate3d(0, 19px, 0);
    transform: translate3d(37px, 48px, 0);
}

.effect.effect-one .tab-text:after,
.effect.effect-one h2,
.effect.effect-one img,
.effect.effect-one p {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
} 
.work-row img {
    width: 47%;
}
.autocad-section {
    padding: 70px 17px;
}
}
@media (max-width: 500px) {
  .intro-head-left {
    margin-right: 10px;
}
.intro-img {
    width: 150px;
    height: 150px; 
}
.intro-section {
    margin-top: 27px;
}
.intro-head-right li {
    margin-left: 20px;
}
.intro-head-right li:after { 
    left: -27px;
    top: 9px; 
}
.intro-desc {
    margin-bottom: 40px;
}
footer { 
    display: block; 
    position: relative;
}
.footer-right {
    width: 100%; 
    position: absolute;
    top: 33%;
    z-index: 9;
    display: block;
}
.work-row {
    display: block;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
.autocad-section img {
    width: 100%;
    margin-bottom: 9px;
}
.banner-head {
    width: 69%;
    font-size: 28px;
    top: 34%;
}
.footer-block a {
    background: whitesmoke;
    padding: 5px 8px;
    font-size: 20px;
}
}