@font-face {
    font-family: 'Neutraface Text';
    src: url('../fonts/NeutrafaceText-Bold.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text Book';
    src: url('../fonts/NeutrafaceText-BookItalic.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text';
    src: url('../fonts/NeutrafaceText-BoldItalic.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text Demi';
    src: url('../fonts/NeutrafaceText-DemiItalic.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text Demi';
    src: url('../fonts/NeutrafaceText-Demi.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text Book';
    src: url('../fonts/NeutrafaceText-Book.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text';
    src: url('../fonts/NeutrafaceText-LightItalic.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Text';
    src: url('../fonts/NeutrafaceText-Light.woff2') format('woff2'),
        url('../fonts/NeutrafaceText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
 
/***************COMMON**************/
button:focus{
    outline:0;
}
input[type="text"]:focus, textarea:focus{
    outline:0;
}
body{
    
    font-family: 'Neutraface Text Book';
} 
h1,h2,h3,h4,h5,h6{
    font-family: 'Neutraface Text';
}
html {
  scroll-behavior: smooth;
}
.tiles{ 
    opacity:0;  
    transition: .5s;
}
/********************BANNER**********************/
.banner-section img {
    width: 100%;
} 
.banner-section {
    position: relative;
    overflow: hidden;
} 
.banner-content {
    position: absolute;
    bottom: 16%;
    right: 8%;
    background: #ffffff8c;
    padding: 26px;
    width: 350px;
} 
.banner-content h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
} 
.banner-right h3 {
    font-size: 33px;
    font-weight: 600;
} 
.banner-right h6 {
    font-size: 24px;
    font-weight: 600;
} 
.banner-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4a4a4a;
    left: 0;
    opacity: 0;
    transition: .5s;
} 
.banner-row {
    display: flex;
    height: 50%;
} 
.banner-tab {
    width: 50%;
}
.tab-img {
    width: 87px;
} 
.banner-tab img {
    width: 91px;
    margin-top: 11px;
}
.banner-tab a {
    color: #fff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    text-decoration: none;
} 
.banner-tab a:hover {
    background: #fe7241;
    transition: .5s;
    color: #4a4a4a;
    color: #fff;
}
.banner-content:hover .banner-overlay {
    opacity: 1;
    transition: .5s;
}
/***************INTRO*****************/
.intro-img img {
    width: 100%;
} 
.intro-desc {
    padding: 0 17%;
    margin-bottom: 166px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.intro-head {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
} 
.intro-img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    overflow: hidden;
}
.intro-img img {
    width: 100%;
}
.intro-section {
    margin-top: 145px;
} 
.intro-info h3 {
    font-weight: 600;
} 
.intro-info h6 {
    font-size: 20px;
    font-weight: 600;
} 
.intro-info p {
    font-size: 19px;
    font-weight: 600;
} 
.intro-main {
    padding: 20px;
    display: flex;
} 
.intro-tabs {
    padding: 10px;
} 
.intro-tabs ul li {
    list-style-type: none;
} 
.intro-tabs ul {
    padding: 0 14px;
    font-size: 14px;
    margin-top: 10px;
} 
.intro-tabs .tab-heads {
    font-size: 24px;
    background: #fe7241;
    color: #fff;
    padding-left: 18px;
} 
.intro-tabs ul li {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 17px;
} 
.intro-right {
    display: flex;
    flex-wrap: wrap;
} 
.intro-right .intro-tabs {
    width: 400px;
} 
.intro-left {
    width: 36%;
    background: #f0f0f0ad;
} 
.intro-right .intro-tabs:last-child li {
    display: inline;
    margin-right: 43px;
    line-height: 36px;
}
/****************FOOTER******************/
.footer-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
} 
.footer-block ul {
    list-style-type: none;
} 
.social {
    padding: 0;
    margin: 0;
}
.social li {
    display: inline;
    margin: 0 8px;
}
.social li a {
    background: #fe7241;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
}
.footer-block ul {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}
.copy-right {
    text-align: right;
    font-size: 11px;
    padding-right: 10px;
    margin-top: 0px;
    color: #bbb7b7;
    background: #000;
    padding: 4px 14px;
}
footer {
    margin-top: 0;
    position: relative;
    padding-top: 50px;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.footerr-img {
    flex-basis: 30%;
}
.footerr-img img {
    width: 100%;
}
.footer-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-section {}
.go-to-top {
    position: absolute;
    right: 16px;
    top: 91px;
    background: #fe7241;
    padding: 4px;
}
.intro-right .intro-tabs:last-child {
    width: 493px;
}
.intro-tabs ul li span {
    font-size: 15px;
    font-weight: 400;
}
.intro-tabs ul li p {
    font-size: 15px;
}
.listImg {
    width: 60px;
    margin-right: 12px;
    margin-bottom: 7px;
}
.intro-info h3 {
    text-align: center;
    margin-top: 10px;
}
.intro-head-left {
    margin-right: 50px;
}
.intro-head-right li {
    list-style-type: none;
    margin-bottom: 39px;
    position: relative;
    font-size: 16px;
    margin-left: 41px;
}
.intro-head-right ul {
    border-left: 2px solid #fe7241;
    list-style-type: none !important;
}
.intro-head-right li:after {content: "";position: absolute;left: -47px;top: 5px;width: 10px;height: 10px;border-radius: 50%;background: #fe7241;}
.intro-desc:before {content: '"';left: 188px;position: absolute;top: -26px;font-size: 72px;color: #fe7241;}
.intro-desc:after {
    content: '"';
    right: 188px;
    position: absolute;
    bottom: -43px;
    font-size: 72px;
    color: #fe7241;
}
.works-section {
    padding: 200px 90px 100px;
    overflow: hidden;
}
.works-section h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 30px;
}
.works-section h3 {
    font-size: 19px;
    font-weight: 500;
}
.autocad-section img {
    width: 69%;
    margin-bottom: 50px;
}
.work-left {
    display: inline-block;
    width: 38%;
}
.work-right {
    width: 21%;
    display: inline-block;
    vertical-align: top;
}
.work-row {
    display: flex;
}
.work-row img {
    width: 40%;
}
.work-row .work-no {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 500;
}
.will-fadeIn {
    display: block; 
}
.fadeInRight {
     -webkit-animation: fadeInRight .5s ease .4s both;
     -moz-animation: fadeInRight .5s ease .4s both;
     -ms-animation: fadeInRight .5s ease .4s both;
     -o-animation: fadeInRight .5s ease .4s both;
     animation: fadeInRight .5s ease .4s both;
}
 @media (prefers-reduced-motion) {
    .fadeInRight .animated {
         -webkit-animation: unset !important;
         animation: unset !important;
         -webkit-transition: none !important;
         transition: none !important;
    }
}
 .fadeInLeft {
     -webkit-animation: fadeInLeft .5s ease .4s both;
     -moz-animation: fadeInLeft .5s ease .4s both;
     -ms-animation: fadeInLeft .5s ease .4s both;
     -o-animation: fadeInLeft .5s ease .4s both;
     animation: fadeInLeft .5s ease .4s both;
}
@media (prefers-reduced-motion) {
    .fadeInLeft .animated {
         -webkit-animation: unset !important;
         animation: unset !important;
         -webkit-transition: none !important;
         transition: none !important;
    }
}
@-webkit-keyframes fadeInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
         -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-moz-keyframes fadeInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
         -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-ms-keyframes fadeInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
         -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-o-keyframes fadeInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
         -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
         -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         -moz-transform: translate3d(-100%, 0, 0);
         -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-moz-keyframes fadeInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         -moz-transform: translate3d(-100%, 0, 0);
         -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-ms-keyframes fadeInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         -moz-transform: translate3d(-100%, 0, 0);
         -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@-o-keyframes fadeInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         -moz-transform: translate3d(-100%, 0, 0);
         -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         -moz-transform: translate3d(-100%, 0, 0);
         -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    }
}
.work-tabs-cover {
    display: flex;
    flex-wrap: wrap;
}

.work-tab {
    flex: 30%;
    overflow: hidden;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.work-tab img {
    width: 100%;
    height: 225px;
}

.work-content {
    position: absolute;
    top: 0;
}


/*************************************/
.menu,
.nav-icon span {
    transition: all .3s ease-in-out
}

.menu .nav-menu li a,
.nav-menu li a {
    line-height: 56px
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.effectTab-header .caption,
.effectTab-header .title {
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #555;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase
}

.effectTab-header .title {
    font-size: 36px;
    font-family: Oswald, sans-serif
}

.effectTab-header .caption {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif
}

.column-1,
.column-10,
.column-11,
.column-12,
.column-2,
.column-3,
.column-4,
.column-5,
.column-7,
.column-8,
.column-9 {
    float: left;
    padding: 15px
}

.effectTab-header .title::after,
.effectTab-header .title::before {
    position: absolute;
    background: linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
    content: ""
}

.effectTab-header .title::before {
    left: 0;
    width: 156%;
    height: 3px;
    margin-left: -28%;
    bottom: -1.5px
}

.effectTab-header .title::after {
    left: 50%;
    width: 25px;
    height: 25px;
    bottom: -26px;
    margin: 0 0 0 -10px;
    -webkit-clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
    clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0)
}

body {
    background-color: #F5F5F5;
}

.column-1 {
    width: 8.333333333333333%
}

.column-2 {
    width: 16.66666666666667%
}

.column-3 {
    width: 25%
}

.column-4 {
    width: 33.33333333333333%
}

.column-5 {
    width: 41.66666666666667%
}

.column-6 {
    width: 50%;
    float: left;
    padding: 15px
}

.column-7 {
    width: 58.33333333333333%
}

.column-8 {
    width: 66.66666666666667%
}

.column-9 {
    width: 75%
}

.column-10 {
    width: 83.33333333333333%
}

.column-11 {
    width: 91.66666666666667%
}

.column-12,
.wrapper-full {
    width: 100%
}

.nav-icon,
.navigation {
    float: right
}

.custom-row::after {
    content: "";
    display: table;
    clear: both
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative
}

.header {
    background-color: #485666;
    padding: 8px 0;
    position: static;
    z-index: 2000
}

.header h1 {
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 2.2rem;
    padding-left: 40px
}

.rotate {
    position: absolute;
    transform: rotate(-20deg);
    left: 0;
    font-size: 2.8rem;
    top: 5px
}

.ex_padd {
    padding-top: 170px!important
}

.nav-icon-container {
    display: block
}

.nav-icon {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 100
}

.nav-icon span {
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav-icon-1 {
    top: 30%
}

.nav-icon-2 {
    top: 50%
}

.nav-icon-3 {
    top: 70%
}

.nav-icon.active .nav-icon-1 {
    top: 50%;
    transform: rotate(45deg);
    left: 22%
}

.nav-icon.active .nav-icon-3 {
    top: 50%;
    transform: rotate(-45deg);
    left: 22%
}

.nav-icon.active .nav-icon-2 {
    width: 0
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.nav-menu li {
    list-style: none;
    position: relative
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px
}

.nav-menu li:after,
.nav-menu li:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: rgba(255, 255, 255, .2);
    bottom: 0;
    width: 0;
    transition: all .3s ease-in-out
}

.nav-menu li:before {
    left: 0
}

.nav-menu li:after {
    right: 0
}

.nav-menu li:hover:after,
.nav-menu li:hover:before {
    width: 50%
}

.nav-menu li.active:after,
.nav-menu li.active:before {
    background-color: rgba(0, 128, 128, 1)
}

.menu {
    width: 200px;
    background-color: #0B466C;
    text-align: center;
    padding: 40px;
    position: fixed;
    top: 96px;
    right: -200px;
    overflow: scroll;
    height: calc(100% - 96px);
    z-index: 1000
}

.menu.active {
    right: 0
}

.menu .nav-menu {
    flex-direction: column;
    width: 150px
}

.menu .nav-menu li {
    margin: 10px 0;
    width: 80%
}

.box-tab {
    margin: 10px 0
}

.effect {
    margin: auto;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07);
    background-color: #fff;
    border: 5px solid #f5f5f5;
    overflow: hidden;
}

.tab-container {
    padding: 50px 0
}

.tab-head {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.tab .effect {
    position: relative;
    overflow: hidden;
    max-height: 240px;
    max-width: 350px;
    background: #3085a3;
    text-align: center;
    cursor: pointer
}

.grid-width3,
.grid-width6 {
    max-height: 270px!important;
    max-width: 530px!important
}

.grid-width8 {
    max-width: 700px!important
}

  .effect img {
    position: relative;
    display: block;
    min-height: 200px;
    opacity: .8;
    height: 225px;
    width: 100%;
}

  .effect .tab-text {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.tab-text h2 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem
}

.tab-text p {
    color: #fff;
    margin: 0;
    font-size: 1rem
}

.hide {
    display: none
}
 
@media (max-width:1000px) {
    .header h1 {
        padding-left: 70px
    }
    .rotate {
        left: 30px
    }
    @media (min-width:768px) and (max-width:991px) {
        .column-md-1,
        .column-md-10,
        .column-md-11,
        .column-md-12,
        .column-md-2,
        .column-md-3,
        .column-md-4,
        .column-md-5,
        .column-md-7,
        .column-md-8,
        .column-md-9 {
            float: left;
            padding: 15px
        }
        .column-md-1 {
            width: 8.333333333333333%
        }
        .column-md-2 {
            width: 16.66666666666667%
        }
        .column-md-3 {
            width: 25%
        }
        .column-md-4 {
            width: 33.33333333333333%
        }
        .column-md-5 {
            width: 41.66666666666667%
        }
        .column-md-6 {
            width: 50%;
            float: left;
            padding: 15px
        }
        .column-md-7 {
            width: 58.33333333333333%
        }
        .column-md-8 {
            width: 66.66666666666667%
        }
        .column-md-9 {
            width: 75%
        }
        .column-md-10 {
            width: 83.33333333333333%
        }
        .column-md-11 {
            width: 91.66666666666667%
        }
        .column-md-12 {
            width: 100%
        }
        .hide-md {
            display: none
        }
        .visible-md {
            display: block
        }
    }
}

.effect.effect-one {
    background: #18a367;
    position: relative
}

.effect.effect-one .tab-text {
    padding: 1em
}

.effect.effect-one .tab-text::after,
.effect.effect-one .tab-text::before {
    position: absolute;
    content: '';
    opacity: 0
}

.effect.effect-one .tab-text::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 2px solid rgba(255, 255, 255, .3);
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.effect.effect-one .tab-text::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.effect.effect-one .icons-block {
    z-index: 1000;
    position: absolute;
    bottom: 14px;
    width: 100%;
    left: 0;
    text-align: center
}

.effect.effect-one .icons-block .social-icon-1,
.effect.effect-one .icons-block .social-icon-2,
.effect.effect-one .icons-block .social-icon-3 {
    transition: all .5s ease-in-out;
    opacity: 0
}

.effect.effect-one:hover .social-icon-1 {
    opacity: 1;
    transition-delay: .3s;
    transition-duration: .5s
}

.effect.effect-one:hover .social-icon-2 {
    opacity: 1;
    transition-delay: .4s;
    transition-duration: .5s
}

.effect.effect-one:hover .social-icon-3 {
    opacity: 1;
    transition-delay: .5s;
    transition-duration: .5s
}

.effect.effect-one .icons-block i {
    color: rgba(255, 255, 255, 1);
    padding-left: 10px;
    font-size: 1.3rem
}

.effect.effect-one h2 { 
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    font-weight: 600;
    font-size: 22px; 
    text-transform: capitalize;
}

.effect.effect-one p { 
}

.effect-one .pt-1 {
    padding-top: 10%!important
}

.effect-one .pt-2 {
    padding-top: 16%!important
}

.effect-one .pt-3 {
    padding-top: 28%!important
}

.effect.effect-one p {
    padding: .5em 2.7em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    font-size: .92rem;
    line-height: 16px;
    color: rgba(255, 255, 255, .9)
}

.effect.effect-one h2  {
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
} 
.effect.effect-one img {
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 0px, 0);
}

.effect.effect-one .tab-text::after,
.effect.effect-one .tab-text::before,
.effect.effect-one img,
.effect.effect-one p {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s
}

.effect.effect-one:hover img {
    opacity: .7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.1, 1.1)
}

.effect.effect-one:hover .tab-text::after,
.effect.effect-one:hover .tab-text::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
 
.effect.effect-one:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 19px, 0);
    transform: translate3d(0, 45px, 0)
}
.effect.effect-one:hover h2  {
    opacity: 1;
    -webkit-transform: translate3d(0, 19px, 0);
    transform: translate3d(37px, 48px, 0);
}

.effect.effect-one:hover .tab-text::after,
.effect.effect-one:hover h2,
.effect.effect-one:hover img,
.effect.effect-one:hover p {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

 

@media (max-width:575px) {
    .effect.effect-two p.description {
        bottom: 5.8em
    }
}

@media (min-width:576px) and (max-width:767px) {
    .effect .tab-text h2 {
        font-size: 1.3rem!important;
        font-family: Oswald
    }
    .effect.effect-two p.description {
        bottom: 5.8em
    }
}

@media (min-width:768px) and (max-width:991px) {
    .effect h2 {
        font-size: 1.3rem!important
    }
}

/********************fade in***********************/
 /***************exterior***************/
 .banner-head {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #fff;
    margin: auto;
    width: 34%;
    text-align: center;
    background: #fe7241;
    font-weight: 700;
    padding: 4px 2px;
}
.autocad-section {
    padding: 70px 60px;
}
.autocad-section h1 {
    margin-bottom: 53px;
    font-weight: 700;
}