 @import './resets';

 @function weight($weight-name){
     @return map-get($font-weights, $weight-name);
 };
 @mixin flexCenter {
     display: flex;
     justify-content: center;
     align-items: center;
 };

    $primary-color:#fe7241;
    $secondary-color:#01779b;
    $text-color:#3b3131;
    $font-weights:(
        "regular":400,
        "medium" :500,
        "bold"  : 700
    );
body{
    background-color: $primary-color;
    font-weight: weight(bold);
    color:$text-color
}
.banner-section{
    width:100%;
    position: relative;
    img{
        width:100%
    } 
    .banner-content {
        position: absolute;
        bottom: 30%;
        right: 8%;
        background: #ffffff8c;
        padding: 26px;
        width: 350px;
        @include flexCenter();
        h1 {
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 0;
        } 
    }  
}